

/* topography */
h1{
    text-align: center;
    font-size:3rem;   
}
/* elements */
table{
    width:80%;
    margin:3rem auto;
}
/* links */
a{
    color:#000000;
}
.tha a:visited,.tha a:hover ,.tha a:focus,.tha a:active {
	color:#990A05;
}


@media (min-width: 50em){
   h1{
    padding-top: 3rem;
   }
}
/* styles for header and footer */
header,footer{
    background-color: #0a1e0c;
}

header a{
    color:#ffffff;
}
footer{
    color:#ffffff;
}
/* elements */
table, th, td{
  border: 3px solid black;
}
th{
    background-color: #63856c;
}
td {
  text-align: center;
}
th, td {
  padding: 15px;
  text-align: left;
}

/* main */
.tha{
    border-collapse: collapse;
}
.heading{
  font-size: 2rem;}