
a{
    color:#000000;
}
main{
    padding-left:5rem;
}
h1{
    text-align: center;
    font-size:3rem;
}
header,footer{
    background-color: #0a1e0c;
}

.tha a:visited,.tha a:hover ,.tha a:focus,.tha a:active {
	color:#990A05;
}
header a{
    color:#ffffff;
}
footer{
    color:#ffffff;
}
table{
    width:80%;
    margin:3rem auto;
}
table, th, td{
  border: 3px solid black;
}
th{
    background-color: #63856c;
}
td {
  text-align: center;
}
th, td {
  padding: 15px;
  text-align: left;
}
.tha{
    border-collapse: collapse;
}
.heading{
  font-size: 2rem;}