.page-header img{
	display: block;
	object-fit: cover;
	min-height: 25rem;
}

.gallery-container{
	padding:2rem;
}
@media screen and (min-width: 50em){
	.gallery-container{
	
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-template-rows: repeat(2,1fr);
	
	gap:1rem;
	justify-content:center;
}

	
}

