header,footer{
	background-color: #0b5563;
}
header a{
    color:#ffffff ;
}
footer{
    color:#ffffff ;
}

.page-header img{
	display: block;
	object-fit: cover;
	min-height: 25rem;
}

.gallery-container{
	padding:1rem;
}
.gallery-container figure{
	border: 4px solid #3A3C40;
	background-color: #3A3C40;
	color: #ffffff;
	border-radius: 2rem;
	padding-bottom:1rem;
}
figure img{
	border-radius: 2rem;
}

@media screen and (min-width: 50em){
	.gallery-container{
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns:minmax(20rem,40rem) minmax(20rem,40rem) ;
	gap:1rem;
	justify-content:center;
}
	
}

