
header,footer{
	background-color: #465775;
    /* background-color: rgb(6, 6, 180); */
}
header a,footer{
    color:#ffffff ;
}
.text a{
	color: #006400;
}
blockquote{
	padding:0;
	background-color: #59c9a5;
	text-align: center;
	font-style: italic;
}
/* Styles for the video that is used as banner */
.page-header video{
    height: 80vh;
	object-fit: cover;
}
